# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 503e9a87a358dee9ded6c74b27cfba0e557f30c793ec8ff26c93768b21a649e13448dce80d38d182f9e123d5d661743a90c8cbb17f8d0353f0116bc62e31445e

test:
  secret_key_base: b66630cedd9cd5c34cf91e79b285d93a90293833359765c9d3eb53815c1452a4000884caf7b6ebb4e9df79da3920b0513295a1f34927491d73d4e7b2dace30a6

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
